@page "/ca"

@inject HttpClient http

@using Facturation.Shared

<br />
<h1>Chiffres d'Affaires</h1>
<br />
@if (allCas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Année</th>
                <th>Chiffre d'Affaires Attendu</th>
                <th>Chiffre d'Affaires Réel</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var ca in allCas)
            {
                <tr>
                    <td><a href="/ca/@ca.year"> @ca.year</a></td>
                    <td>@ca.chiffreAffairesDu</td>
                    <td>@ca.chiffreAffairesReel</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    private IEnumerable<ChiffreAffaire> allCas = null;

    protected override async Task OnInitializedAsync()
    {
        allCas = await http.GetFromJsonAsync<IEnumerable<ChiffreAffaire>>("api/cas");
    }
}

