@page "/"
@inject HttpClient http
@inject NavigationManager nav
@using Facturation.Shared

<h1>Business Corp Homepage</h1>

<br /><br />

<h3>Welcome to Business Corp.</h3>

<br /><br />

@if (listCa == null)
{
    <p><em>Loading...</em></p>
}
else
{
    ca = listCa.FirstOrDefault();
    caDu = (ca.GetCAD() - ca.GetCAR());

    <h4>Chiffre D'Affaire @ca.GetYear()</h4>

    <strong> @ca.GetCAR().ToString("€ 0.00") </strong>
    <br />
    <br />
    <h4>Montants Dû Factures @ca.GetYear()</h4>
    
    <strong> @caDu.ToString("€ 0.00") </strong>

    <br />
    <br />
    <br />
    <br />

    <div style="position:absolute; bottom:7px">
        <p>Made by Laurent Varden</p>
    </div>
}
@code {

    private IEnumerable<ChiffreAffaire> listCa = null;
    private ChiffreAffaire ca = new ChiffreAffaire();
    private double caDu;

    protected override async Task OnInitializedAsync()
    {        
        listCa = await http.GetFromJsonAsync<IEnumerable<ChiffreAffaire>>("api/cas");        
    }

    private void toFacForm()
    {
        nav.NavigateTo("/newfacture");
    }
}
